<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455210684738-g1iatc7r6huqaueue6o5vn99pjtu98pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455210684738-g1iatc7r6huqaueue6o5vn99pjtu98pq</string>
	<key>API_KEY</key>
	<string>AIzaSyBJFQ9W9h1D8kenJ4pH6yuu-47FISSRlrk</string>
	<key>GCM_SENDER_ID</key>
	<string>455210684738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLearn</string>
	<key>PROJECT_ID</key>
	<string>learn-app-b80e1</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-app-b80e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455210684738:ios:87abbdd76af4957d7c78db</string>
</dict>
</plist>